In [106]:
## open the file 1855.xlsx
## read the first sheet

import pandas as pd

excel_name = '1895.xlsx'

df = pd.read_excel(excel_name, sheet_name=0)

## print the first 5 rows

df.head()

,Unnamed: 0,nom_rue,no_maison,proprietaire_nom_adresse,chef_nom,chef_prenom,chef_date_naissance_3,chef_origine,epouse_nom,epouse_prenom,...,enfants_profession,enfants_permis,pensionnaires_nom,pensionnaires_prenom,pensionnaires_date_naissance_3,pensionnaires_origine,pensionnaires_condition,pensionnaires_permis,observations,Page
0,0,stahler|schweyer,·,id|marie|jacob,·,talmann|tornarc|cavernay|trottet|tadi|treboux|...,·,catherine|mariette|louisa|marc|alfred|andre|ho...,·,·,...,·,·,·,·,546 95|154|123|222|264|199|128|176|267,·,·,31744|·|·|106|136|123,arlemands anolais|delaes espapnols|st francais...,0
1,5,siebengnann|strahm,·,louise|adele,·,·,·,·,·,wussemboch|wurgler,...,·,·,·,·,·,·,·,·,·,0
2,10,strahm|steimann,·,louis|anna,·,ubert,·,louis,·,elib|wother,...,·,·,·,·,·,·,·,·,·,0
3,20,steimann,·,adie,·,vassil|valegiali|vebr|verney|annee de naissanc...,·,ludscanoff|antoine|marguerite|alfred|marguerit...,·,binden|jahn|binger,...,·,·,·,·,·,·,·,·,·,0
4,21,taillens|tendall,·,julie|louisa,·,vivian,·,charles,·,·,...,·,·,·,·,·,·,·,·,·,0

In [107]:
## print the column names of the dataframe
df.columns

## save in the variable 'useful_columns' the columns that contain the word 'pensionnaires'
useful_columns = [col for col in df.columns if 'pensionnaires' in col]

## print the useful columns
useful_columns

['pensionnaires_nom',
 'pensionnaires_prenom',
 'pensionnaires_date_naissance_3',
 'pensionnaires_origine',
 'pensionnaires_condition',
 'pensionnaires_permis']

In [108]:
## create a new dataframe with only the useful columns
df2 = df[useful_columns]

## print the first 5 rows of the new dataframe
df2.head()

,pensionnaires_nom,pensionnaires_prenom,pensionnaires_date_naissance_3,pensionnaires_origine,pensionnaires_condition,pensionnaires_permis
0,·,·,546 95|154|123|222|264|199|128|176|267,·,·,31744|·|·|106|136|123
1,·,·,·,·,·,·
2,·,·,·,·,·,·
3,·,·,·,·,·,·
4,·,·,·,·,·,·

In [109]:
## print the value of the first row for each column
df2.iloc[0]

## print only the value
df2.iloc[0].values

## filter the dataframe to keep only the rows that contain a value in the first column or the second column that is not '·'
df3 = df2[(df2.iloc[:,0] != '·') | (df2.iloc[:,1] != '·')]

## filter the dataframe df2 to keep only the rows that contain a value in the first column or the second column or the third column or the fourth column that is not '·'
df4 = df2[(df2.iloc[:,0] != '·') | (df2.iloc[:,1] != '·') | (df2.iloc[:,2] != '·') | (df2.iloc[:,3] != '·')]

In [111]:
## print the first 5 rows of the new dataframe
df4.head()

,pensionnaires_nom,pensionnaires_prenom,pensionnaires_date_naissance_3,pensionnaires_origine,pensionnaires_condition,pensionnaires_permis
0,·,·,546 95|154|123|222|264|199|128|176|267,·,·,31744|·|·|106|136|123
8,golay|meystre,sea|julie,1268 4|17462,chenit|chierrens,domestique,·
9,cornu|lothammer emilie,marie,569|20 71,fribourg|allemagne,domestique,66802|43782
10,gysler|borne|tauxe|tauxe|capt,cecile|elise|louis|louise|henri louis,269|6 765|28368|366|4 823,berne|fribourg|leysin|·|le chenit,·|pensre|modiste|tailleur,57218|78580
12,colomb,louise,21 1210,rovance,dque,·

In [112]:
## count the number of rows in the dataframe
df4.shape[0]

4249

In [113]:
## export the dataframe to a xlsx file, with the previous name concatenated with '_filtered'
df4.to_excel(excel_name[:-5] + '_filtered.xlsx', index=False)

## Check all useful columns in the dataset

In [114]:
## print the length of the useful columns
len(useful_columns)

## create a new dataframe with only the useful columns
## df4 filtered with the condition that the value of the first four columns is not '·' 
## df5 filtered with the condition that the value of the first len(useful_columns) columns is not '·' nor empty
df5 = df2[df2.iloc[:,:len(useful_columns)].notnull().all(axis=1)]

In [115]:
## print the first 5 rows of the new dataframe
df5.head()

,pensionnaires_nom,pensionnaires_prenom,pensionnaires_date_naissance_3,pensionnaires_origine,pensionnaires_condition,pensionnaires_permis
0,·,·,546 95|154|123|222|264|199|128|176|267,·,·,31744|·|·|106|136|123
1,·,·,·,·,·,·
2,·,·,·,·,·,·
3,·,·,·,·,·,·
4,·,·,·,·,·,·

In [116]:
## save the dataframe in a xlsx file
df5.to_excel(excel_name[:-5] + '_filtered2.xlsx', index=False)

In [117]:
## get the id of all the rows that are in df5
useful_rows = df5.index

## use the id to filter the original dataframe, df
df6 = df.iloc[useful_rows]

## print the first 5 rows of the new dataframe
df6.head()

,Unnamed: 0,nom_rue,no_maison,proprietaire_nom_adresse,chef_nom,chef_prenom,chef_date_naissance_3,chef_origine,epouse_nom,epouse_prenom,...,enfants_profession,enfants_permis,pensionnaires_nom,pensionnaires_prenom,pensionnaires_date_naissance_3,pensionnaires_origine,pensionnaires_condition,pensionnaires_permis,observations,Page
0,0,stahler|schweyer,·,id|marie|jacob,·,talmann|tornarc|cavernay|trottet|tadi|treboux|...,·,catherine|mariette|louisa|marc|alfred|andre|ho...,·,·,...,·,·,·,·,546 95|154|123|222|264|199|128|176|267,·,·,31744|·|·|106|136|123,arlemands anolais|delaes espapnols|st francais...,0
1,5,siebengnann|strahm,·,louise|adele,·,·,·,·,·,wussemboch|wurgler,...,·,·,·,·,·,·,·,·,·,0
2,10,strahm|steimann,·,louis|anna,·,ubert,·,louis,·,elib|wother,...,·,·,·,·,·,·,·,·,·,0
3,20,steimann,·,adie,·,vassil|valegiali|vebr|verney|annee de naissanc...,·,ludscanoff|antoine|marguerite|alfred|marguerit...,·,binden|jahn|binger,...,·,·,·,·,·,·,·,·,·,0
4,21,taillens|tendall,·,julie|louisa,·,vivian,·,charles,·,·,...,·,·,·,·,·,·,·,·,·,0

In [118]:
## save the dataframe in a xlsx file
df6.to_excel(excel_name[:-5] + '_filtered-full.xlsx', index=False)

In [59]:
## create charts with the data of the dataframe
## import the library
import matplotlib.pyplot as plt

## get the name of the columns
df6.columns

Index(['ID number', 'ID number corr', 'Page', 'erreur_ligne', 'division',
       'nom_rue', 'nom_rue_line _corr. ', 'nom_rue_htr_corr', 'nom_rue_norm',
       'no_maison', 'no_maison_line_corr', 'no_maison_htr_corr',
       'proprietaire_nom', 'proprietaire_nom_line_corr',
       'proprietaire_nom_htr_corr', 'proprietaire_nom_norm',
       'proprietaire_nom_remarques', 'chef_prenom', 'chef_prenom_line_corr',
       'chef_nom', 'chef_nom_line_corr', 'chef_nom_htre_corr', 'chef_nom_norm',
       'chef_nom_remarques', 'chef_annee_naissance',
       'chef_annee_naissance_line_corr', 'epouse_nom', 'epouse_nom_line_corr',
       'epouse_nom_htr_corr', 'epouse_nom_norm', 'epouse_nom_remarques',
       'epouse_annee_naissance', 'epouse_annee_line_corr',
       'enfants_dans_la_commune_prenom',
       'enfants_dans_la_commune_prenom_line_corr', 'enfants_annee_naissance',
       'enfants_annee_naissance_line_corr', 'chef_origine',
       'chef_origine_line_corr', 'chef_origine_htr_corr', 'chef_origine_norm',
       'chef_origine_remarques', 'chef_annee_arrivee',
       'chef_annee_arrivee_line_corr', 'chef_vocation',
       'chef_vocation_line_corr', 'chef_vocation_htr_corr',
       'chef_vocation_norm', 'chef_vocation_remarque', 'chef_recepisse',
       'chef_recepisse_line_corr', 'pensionnaires_prenom',
       'pensionnaires_prenom_line_Corr', 'pensionnaires_nom',
       'pensionnaires_nom_line_corr', 'pensionnaires_nom_htr_corr',
       'pensionnaires_nom_norm', 'pensionnaires_nom_remarques',
       'pensionnaires_origine', 'pensionnaires_origine_line_corr',
       'pensionnaires_origine_htr_corr', 'pensionnaires_origine_norm',
       'pensionnaires_origine_remarques', 'pensionnaires_condition',
       'pensionnaires_condition_line_corr2', 'pensionnaires_vocation_htr_corr',
       'pensionnaires_vocation_norm', 'pensionnaires_vocation_remarque',
       'pensionnaires_recepisse', 'pensionnaires_recepisse_line_corr',
       'observations', 'observations_line_corr', 'observation_htr_corr'],
      dtype='object')